<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Explore Your Tone
      <br />
      Uncover your next go-to guitar
    </h2>
    <p>
      J. Alexander offers the perfect guitar for your distinct style, whether
      you're into heavy strumming or delicate picking; whether you're picking up
      your first guitar or adding a cherished piece to your collection; whether
      your vibe is to rock out or unwind. With J. Alexander guitars, finding
      your unique sound and style is straightforward, taking into account
      everything from body shape and comfort to playing technique,
      sustainability, choice of tonewood, or simply the price. Start your
      exploration here.
    </p>
    <a href="/contact" class="cs-button-solid">Contact Now</a>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/17.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/portfolio/17.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/portfolio/17.webp"
      alt="kitchen cabinets"
      loading="lazy"
      width="2500"
      height="1667"
    />
  </picture>
</section>
