---
title: "About | J. Alexander Guitars"
description: "Discover the craftsmanship and passion behind our acoustic guitars, handcrafted to perfection for the ultimate musical experience."
preloadImg: "/assets/images/12.webp"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Us</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/12.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/12.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/12.webp"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source media="(max-width: 600px)" srcset="/assets/images/13.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/13.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/13.webp"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source media="(max-width: 600px)" srcset="/assets/images/8.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/8.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/8.webp"
          alt="house"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Mission Statement</span>
      <p class="cs-text">
        Our aim is to be a team of committed colleagues, devoted to outstanding
        leadership and innovation within the fretted instrument and string
        manufacturing sectors, all while honoring our roots and customs as a
        family-owned business.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          In my Phoenix, Arizona workshop, I founded J. Alexander Acoustic
          Guitars, blending the rich, timeless sound of vintage acoustics with
          the modern musician's need for dependability. I aimed to create
          unique, premium acoustic guitars, each with its own narrative, to
          enhance the musical experience of every guitarist.
        </p>
        <span class="cs-name">Jeff Alexander</span>
        <span class="cs-job">Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/guitars" class="cs-button-solid">Our Guitars</a>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
