---
title: "Guitars | J. Alexander Guitars"
description: "Discover our collection of acoustic guitars through our visually captivating gallery page."
preloadImg: "/assets/images/4.webp"
permalink: "guitars/"
eleventyNavigation:
  key: Guitars
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Our Guitars</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/4.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/4.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/4.webp"
      alt="guitar"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/17.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/17.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/17.webp"
            alt="new guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/16.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/16.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/16.webp"
            alt="handcrafted guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source media="(max-width: 600px)" srcset="/assets/images/6.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/6.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/6.webp"
            alt="building a new guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/14.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/14.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/14.webp"
            alt="new guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source media="(max-width: 600px)" srcset="/assets/images/11.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/11.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/11.webp"
            alt="guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source media="(max-width: 600px)" srcset="/assets/images/1.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/1.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/1.webp"
            alt="kew guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/15.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/15.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/15.webp"
            alt="new guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source media="(max-width: 600px)" srcset="/assets/images/2.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/2.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/2.webp"
            alt="guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source media="(max-width: 600px)" srcset="/assets/images/7.webp" />
          <source media="(min-width: 601px)" srcset="/assets/images/7.webp" />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/7.webp"
            alt="j. alexander guitar"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
    </div>
    <a href="/contact" class="cs-button-solid">Build Yours</a>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
