---
title: "Reviews | J. Alexander Guitars"
description: "Discover authentic customer reviews for a top acoustic guitar company on our review page."
preloadImg: "/assets/images/portfolio/17.webp"
permalink: "reviews/"
eleventyNavigation:
  key: Reviews
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Our Reviews</h1>
  <picture class="cs-picture">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/portfolio/17.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/portfolio/17.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/portfolio/17.webp"
      alt="guitar"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews">
  <div class="container">
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/17.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        I just got my custom acoustic guitar from J. Alexander Guitars, and I'm
        at a loss for words – it surpasses all my expectations. Playing it is an
        absolute delight; it's the ideal guitar
      </p>
      <div class="star-group">
        <span class="name">B Miller</span>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/15.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        I've just collected my custom acoustic from J. Alexander Guitars, and
        I'm overwhelmed – the guitar exceeds everything I hoped for. It's a
        dream to play and absolutely perfect.
      </p>
      <div class="star-group">
        <span class="name">Vincent M.</span>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/16.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        I recently picked up my bespoke acoustic guitar from J. Alexander
        Guitars, and I'm astounded – the instrument is beyond what I imagined.
        It's the ultimate guitar and playing it is sheer joy.
      </p>
      <div class="star-group">
        <span class="name">Alex L.</span>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/14.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        Having just retrieved my custom-made acoustic from J. Alexander Guitars,
        I'm stunned – the guitar goes above and beyond my expectations. It's
        flawless and a pleasure to play.
      </p>
      <div class="star-group">
        <span class="name">Arrieana M.</span>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/2.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        I've just taken possession of my custom acoustic from J. Alexander
        Guitars, and I'm amazed – the guitar is more than I ever expected. It's
        perfect in every way and so enjoyable to play.
      </p>
      <div class="star-group">
        <span class="name">Leo N.</span>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/4.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        I recently acquired my custom acoustic guitar from J. Alexander Guitars,
        and I'm left speechless – it's better than I anticipated. The guitar is
        impeccable and brings joy with every play.
      </p>
      <div class="star-group">
        <span class="name">Brian A.</span>
      </div>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
