---
title: "Home Page | J. Alexander Guitars | Acoustic Guitars and Lutherie | Phoenix, AZ"
description: "Discover unique handcrafted acoustic guitars from Phoenix, Arizona by Jeff Alexander at J. Alexander Acoustic Guitars and Lutherie"
preloadImg: "/assets/images/hero.webp"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1427">
  <div class="cs-container">
    <div class="cs-content">
      <!-- <span class="cs-topper">Make Your Guitar Your Masterpiece</span> -->
      <h1 class="cs-title">Make Your Guitar Your Masterpiece</h1>
      <p class="cs-text">
        At J. Alexander Acoustic Guitars, we hold the conviction that your
        guitar should mirror the narrative of your life. Allow us to assist you
        in crafting and designing your dream guitar.
      </p>
      <div class="cs-button-group">
        <a href="/contact" class="cs-button-solid cs-button1">Contact</a>
        <a href="/guitars" class="cs-button-solid cs-nav-button">See Guitars</a>
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset="./assets/images/hero.webp" />
    <source media="(min-width: 601px)" srcset="./assets/images/hero.webp" />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg"
      alt="field"
      width="1920"
      height="1200"
      aria-hidden="true"
    />
  </picture>
</section>
<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
  <div class="cs-container">
    <div class="cs-content">
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/ja-black-trans.png"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/ja-black-trans.png"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/ja-black-trans.png"
          alt="ja logo"
          loading="lazy"
          width="200"
          height="200"
        />
      </picture>
      <h2 class="cs-title">Guitars Made with Passion to Stir Your Spirit</h2>
      <p class="cs-text">
        Crafted from my hands to yours, each guitar is designed for enhanced
        performance. Constructed with the highest quality tone woods, materials,
        and craftsmanship reminiscent of the guitar's golden age, yet infused
        with contemporary design enhancements, J. Alexander merges old-school
        charm and character with the durability needed for the road.
      </p>
      <a href="/about" class="cs-button-solid">Read Our History</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source media="(max-width: 600px)" srcset="/assets/images/3.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/3.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/3.webp"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source media="(max-width: 600px)" srcset="/assets/images/7.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/7.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/7.webp"
          alt="house"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">J. Alexander Guitars</h2>
      <p class="cs-text">
        J. Alexander Acoustic Guitars, established by proprietor and craftsman
        Jeff Alexander, stands as the quintessential boutique guitar store,
        where each instrument is meticulously handcrafted from the ground up.
        Our mission remains unchanged since our inception - to embody the
        enchantment of the world's most revered vintage guitars within
        contemporary instruments designed to fulfill the demands of today's
        professional musicians.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          From my Phoenix, Arizona workshop, I launched J. Alexander Acoustic
          Guitars to fuse the warm, classic tones of vintage acoustics with the
          contemporary musician's demand for reliability. My mission was to
          craft distinctive, high-quality acoustic guitars that resonate with
          their own stories, enriching the musical journey of every player.
        </p>
        <span class="cs-name">Jeff Alexander</span>
        <span class="cs-job">Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/about" class="cs-button-solid">More About Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source media="(max-width: 600px)" srcset="/assets/images/8.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/8.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/8.webp"
          alt="house"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source media="(max-width: 600px)" srcset="/assets/images/10.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/10.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/10.webp"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Handcrafted</span>
      <h2 class="cs-title">Acoustic Guitars & Lutherie</h2>
      <p class="cs-text">
        Handcrafted acoustic guitars represent the pinnacle of lutherie, an art
        form where meticulous craftsmanship meets the soul of music. Each
        instrument is a masterpiece, born from the hands of skilled artisans who
        select the finest woods and dedicate countless hours to perfecting every
        detail. This dedication to traditional techniques and personal touch
        ensures that every guitar sings with unparalleled clarity, warmth, and
        resonance. In the world of handcrafted acoustic guitars, every strum
        tells the story of its creation, offering musicians not just an
        instrument, but a partner in their musical expression
      </p>
      <p class="cs-text">
        J. Alexander Guitars epitomizes the art of lutherie with handcrafted
        acoustic guitars that blend tradition with innovation. Each piece,
        carefully shaped by skilled artisans using select woods, resonates with
        exceptional clarity and warmth. These guitars are not just instruments
        but extensions of the musician's voice, offering a unique partnership in
        musical expression
      </p>
      <a href="/contact" class="cs-button-solid">Contact</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
  <div class="cs-container">
    <span class="cs-topper">Our Reviews</span>
    <h2 class="cs-title">Words From Our Customers</h2>
    <p class="cs-text">
      Folks love J. Alexander guitars because they nail that sweet spot between
      top-notch craftsmanship and killer sound. Every guitar feels like it's got
      its own vibe, making playing not just music, but an experience – that's
      why they're a hit with players everywhere.
    </p>
    <ul class="cs-card-group">
      <!-- Review 1 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/portfolio/17.webp"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-p">
          I just got my custom acoustic guitar from J. Alexander Guitars, and
          I'm at a loss for words – it surpasses all my expectations. Playing it
          is an absolute delight; it's the ideal guitar
        </p>
        <span class="cs-reviewer"> B Miller </span>
      </li>
      <!-- Review 2 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/2.webp"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-p">
          I've just taken possession of my custom acoustic from J. Alexander
          Guitars, and I'm amazed – the guitar is more than I ever expected.
          It's perfect in every way and so enjoyable to play.
        </p>
        <span class="cs-reviewer"> Leo N. </span>
      </li>
    </ul>
    <a aria-label="read more reviews" href="/reviews" class="cs-button-solid"
      >Our Reviews</a
    >
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
