/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1427 {
    /* Centers button */
    text-align: center;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16 / 16 * 1rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.48;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: calc(48 / 16 * 1rem);
    }

    .cs-content {
      text-align: left;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    .cs-topper {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.5vw, 1rem);
      line-height: 1.2em;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: inherit;
      text-transform: uppercase;
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--secondary);
      display: inline-block;
      position: relative;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: calc(829 / 16 * 1rem);
      /* 16px - 24px */
      margin: 0 auto clamp(1rem, 4vw, 1.5rem) 0;
      color: #fff;
      position: relative;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(29rem, 60vw, 38.785rem);
      margin: 0;
      margin-bottom: calc(32 / 16 * 1rem);
      color: #fff;
    }

    .cs-button-group {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      // color: #1a1a1a;
      min-width: calc(200 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: calc(8 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        // background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button1 {
      background-color: var(--secondaryLight);
      color: var(--primary);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-1427 {
      .cs-background {
        &:before {
          opacity: 0.72;
        }
      }
    }
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-26 {
    /* Centers the button */
    text-align: center;
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-card-group {
      width: 100%;
      /* changes to 100% at tablet */
      max-width: calc(500 / 16 * 1rem);
      margin: 0;
      padding: 0;
      border: 1px solid #a0a3bd;
    }

    .cs-item {
      width: 100%;
      margin: auto;
      list-style: none;
      border-bottom: 1px solid #a0a3bd;
      background-color: #fff;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--primary);

        .cs-icon {
          filter: grayscale(1) brightness(1000%);
        }

        .cs-h3 {
          color: #fff;
        }
      }
    }

    .cs-link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding-top: calc(56 / 16 * 1rem);
      padding-bottom: calc(52 / 16 * 1rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      /* Prevents padding from affecting height */
      box-sizing: border-box;
    }

    .cs-icon {
      margin-bottom: calc(18 / 16 * 1rem);
    }

    .cs-hover {
      display: none;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 400;
      text-align: center;
      margin: 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }
  }
}

/* In Between - 500px */
@media only screen and (min-width: 31.25rem) {
  #services-26 {
    .cs-card-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .cs-item {
      width: 50%;
      max-width: calc(295 / 16 * 1rem);
      border-bottom: none;
      /* Makes borders not affect widths */
      box-sizing: border-box;

      &:nth-of-type(1) {
        border-right: 1px solid #a0a3bd;
        border-bottom: 1px solid #a0a3bd;
      }
      &:nth-of-type(2) {
        border-bottom: 1px solid #a0a3bd;
      }
      &:nth-of-type(3) {
        width: 100%;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-26 {
    .cs-card-group {
      max-width: 100%;
      border: none;
    }

    .cs-item {
      height: calc(210 / 16 * 1rem);
      width: 33.33%;
      margin: 0;

      &:nth-of-type(1) {
        border: none;
        border: 1px solid #a0a3bd;
      }
      &:nth-of-type(2) {
        border: none;
        border-top: 1px solid #a0a3bd;
        border-bottom: 1px solid #a0a3bd;
        border-right: 1px solid #a0a3bd;
      }
      &:nth-of-type(3) {
        width: 33.33%;
        border: none;
        border-top: 1px solid #a0a3bd;
        border-bottom: 1px solid #a0a3bd;
        border-right: 1px solid #a0a3bd;
      }
    }

    .cs-link {
      padding: calc(36 / 16 * 1rem) 0;
    }

    .cs-icon {
      margin-bottom: calc(28 / 16 * 1rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #services-26 {
      .cs-h3 {
        color: var(--bodyTextColorWhite);
      }

      .cs-icon {
        /* turns it white */
        filter: grayscale(1) brightness(1000%);
      }

      .cs-item {
        background-color: var(--dark);
        &:hover {
          background-color: var(--primary);
        }
      }
    }
  }
}
