/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
  // Website colors
  :root {
    --primary: #333;
    --primaryLight: #666666;
    --secondary: #dddddd;
    --secondaryLight: #ffffff;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #ffffff;

    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }

  // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
  /* you can copy and paste this into your global stylesheet to be used everywhere there's a cs-topper in your site */

  .cs-topper {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin: 0 0 calc(16 / 16 * 1rem) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(20 / 16 * 1rem);
    position: relative;

    &:before {
      /* decorative line */
      content: "";
      /* 16px - 32px */
      width: clamp(1rem, 3vw, 2rem);
      height: 2px;
      background: var(--secondary);
      opacity: 1;
      position: relative;
      display: block;
    }
  }

  /* Dark Mode */
  body.dark-mode {
    .cs-topper {
      color: var(--bodyTextColorWhite);
    }
  }

  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }

  // Button - can be replaced using CodeStitch's "Button" Stitches
  .cs-button-solid {
    font-size: calc(16 / 16 * 1rem);
    font-weight: bold;
    line-height: calc(50 / 16 * 1em);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: auto;
    padding: 0 calc(30 / 16 * 1rem);
    // Transition Properties
    color: var(--bodyTextColorWhite);
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    transition-delay: 0.1s;

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }

    &:before {
      content: "";

      //Transition properties
      width: 0;
      height: 100%;
      background-color: var(--primaryLight);
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
  }
}

/* Fonts and general styles */
@media only screen and (min-width: 0em) {
  // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/Montserrat-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Montserrat-SemiBold";
    font-weight: 700;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/Montserrat-SemiBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-style: normal;
    font-family: "Montserrat-Bold";
    font-weight: 900;
    font-display: swap;
    src: local(""), url("/assets/fonts/Montserrat-Bold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/Montserrat-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Lato-Regular";
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/Lato-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Lato-Bold";
    font-weight: 700;
    font-display: swap;
    src: local(""), url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/Lato-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body,
  html {
    font-family: "Montserrat-Regular", Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    overflow-x: hidden;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  body {
    transition: background-color 0.3s;
  }

  .container {
    width: 92%;
    margin: auto;
    position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }

  p,
  li,
  a {
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.5em;
    margin: 0;
  }

  p,
  li {
    color: #353535;
  }

  a,
  button {
    &:hover {
      cursor: pointer;
    }
  }

  // Hidden Screen reader skip nav button
  .skip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1111111;
  }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #dark-mode-toggle {
      .cs-sun {
        transform: translate(-50%, -50%);
        opacity: 1;
      }

      .cs-moon {
        transform: translate(-50%, -150%);
        opacity: 0;
      }
    }
  }

  #dark-mode-toggle {
    display: block;
    position: absolute;
    bottom: calc(20 / 16 * 1rem);
    right: calc(90 / 16 * 1rem);
    width: calc(48 / 16 * 1rem);
    height: calc(48 / 16 * 1rem);
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
    z-index: 1000;

    img,
    svg {
      //center image inside button
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(20 / 16 * 1rem);
      height: calc(20 / 16 * 1rem);
      pointer-events: none;
    }

    .cs-moon {
      z-index: 2;
      // Transition properties
      transition: transform 0.3s, opacity 0.3s;
      fill: #fff;
    }

    .cs-sun {
      z-index: 1;
      // Transition property
      transform: translate(-50%, 100%);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    transform: none;
    bottom: auto;
    right: auto;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
     padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body {
    &.cs-open {
      overflow: hidden;
      #cs-navigation {
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    &.scroll {
      #cs-navigation {
        &:after {
          width: 100%;
        }
      }
    }
  }

  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-bottom: 1px solid #484848;
    position: fixed;
    z-index: 10000;

    &:before {
      /* mobile nav overlay on open */
      content: "";
      width: 100%;
      height: 0vh;
      background: rgba(0, 0, 0, 0.6);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      position: absolute;
      display: block;
      top: 100%;
      right: 0;
      z-index: -1100;
      opacity: 0;
      transition: height 0.5s, opacity 0.5s;
    }

    &:after {
      /* on scroll overlay */
      content: "";
      width: 0%;
      height: 100%;
      background: #1a1a1a;
      opacity: 0.8;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s, opacity 0.3s;
    }

    &.cs-active {
      .cs-ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 0.15s;
      }

      .cs-li {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .cs-container {
      width: 100%;
      padding: calc(16 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .cs-logo {
      width: calc(147 / 16 * 1rem);
      height: auto;
      margin: 0 auto 0 0;
      padding: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
      }
    }

    .cs-toggle {
      width: calc(56 / 16 * 1rem);
      height: calc(56 / 16 * 1rem);
      margin: 0 0 0 auto;
      background-color: #484848;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-active {
      .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
      }

      .cs-line2 {
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
      }

      .cs-line3 {
        bottom: 100%;
        opacity: 0;
      }
    }

    .cs-box {
      /* 24px - 28px */
      width: clamp(1.5rem, 2vw, 1.75rem);
      height: calc(16 / 16 * 1rem);
      position: relative;
    }

    .cs-line {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #fafbfc;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .cs-line1 {
      top: 0;
      transform-origin: center;
      transition: transform 0.5s, top 0.3s, left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }

    .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: top 0.3s, left 0.3s, transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }

    .cs-line3 {
      bottom: 0;
      transition: bottom 0.3s, opacity 0.3s;
    }

    .cs-ul-wrapper {
      width: 100%;
      height: auto;
      padding-bottom: calc(48 / 16 * 1rem);
      opacity: 0;
      background-color: #1a1a1a;
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.4s, opacity 0.3s;
    }

    .cs-ul {
      margin: 0;
      padding: calc(48 / 16 * 1rem) 0 0 0;
      width: 100%;
      height: auto;
      max-height: 65vh;
      overflow: scroll;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      gap: calc(20 / 16 * 1rem);
    }

    .cs-li {
      width: 100%;
      text-align: center;
      list-style: none;
      margin-right: 0;
      /* transition from these values */
      transform: translateY(-4.375rem);
      opacity: 0;
      transition: transform 0.6s, opacity 0.9s;

      &:nth-of-type(1) {
        transition-delay: 0.05s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.15s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.25s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.35s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.45s;
      }
      &:nth-of-type(10) {
        transition-delay: 0.5s;
      }
      &:nth-of-type(11) {
        transition-delay: 0.55s;
      }
      &:nth-of-type(12) {
        transition-delay: 0.6s;
      }
      &:nth-of-type(13) {
        transition-delay: 0.65s;
      }
    }

    .cs-li-link {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: inline-block;
      position: relative;

      &.cs-active {
        color: var(--secondary);
      }

      &:hover {
        color: var(--secondary);
      }
    }

    .cs-button-solid {
      display: none;
    }
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  body {
    &.scroll {
      #cs-navigation {
        &:after {
          height: 100%;
        }
      }
    }
  }

  #cs-navigation {
    width: 100%;
    padding: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border: 1px solid #484848;
    position: fixed;
    z-index: 10000;

    &:after {
      /* on scroll overlay */
      content: "";
      width: 100%;
      height: 0%;
      background: #1a1a1a;
      opacity: 0.8;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
      transition: height 0.3s, opacity 0.3s;
    }

    .cs-container {
      width: 100%;
      /* same height as the cs-ul-wrapper */
      height: calc(93 / 16 * 1rem);
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      padding: 0 calc(16 / 16 * 1rem);
      /* prevents padding from affectin gheight */
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: calc(24 / 16 * 1rem);
      position: relative;
    }

    .cs-toggle {
      display: none;
    }

    .cs-logo {
      width: 18.4%;
      max-width: calc(197 / 16 * 1rem);
      height: calc(60 / 16 * 1rem);
      /* margin-right auto pushes everything away from it to the right */
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;

      img {
        width: 100%;
        height: auto;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
      }
    }

    .cs-ul-wrapper {
      /* absolutely positioned to be dead center */
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 20px - 36px */
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }

    .cs-li {
      list-style: none;
      padding: calc(36 / 16 * 1rem) 0;
      /* prevent flexbox from squishing it */
      flex: none;
    }

    .cs-li-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 0.6vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;
      transition: color 0.3s;

      &:before {
        content: "";
        width: 0%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--secondary);
        &:before {
          width: 100%;
        }
      }

      &.cs-active {
        color: var(--secondary);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(32 / 16 * 1rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: rgb(0, 0, 0);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-nav-button {
      line-height: calc(46 / 16 * 1rem);
    }
  }
}

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 30vh;
    padding-top: calc(50 / 16 * 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    picture {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    h1 {
      font-size: calc(64 / 30 * 1rem);
      text-align: center;
      width: 96%;
      max-width: calc(500 / 16 * 1rem);
      margin: 0 auto;
      margin-top: calc(70 / 16 * 1rem);
      margin-bottom: calc(30 / 16 * 1rem);
      color: #fff;
      position: relative;
    }

    p {
      text-align: center;
      width: 96%;
      max-width: calc(400 / 16 * 1rem);
      margin: auto;
      margin-bottom: calc(30 / 16 * 1rem);
      color: #fff;
      display: block;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;

    h1 {
      font-size: calc(64 / 16 * 1rem);
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    font-size: inherit;
    height: auto;
    min-height: calc(300 / 16 * 1rem);
    padding-top: calc(180 / 16 * 1rem);
    background-attachment: fixed;
    padding-block-end: calc(100 / 16 * 1rem);
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    padding: calc(50 / 16 * 1rem) 0;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .container {
      text-align: center;
    }

    picture {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .title {
      font-size: min(9vw, 3rem);
      font-weight: 900;
      line-height: calc(58 / 48 * 1em);
      text-align: center;
      margin-bottom: calc(36 / 16 * 1rem);
      color: #fff;
      position: relative;
    }

    p {
      text-align: center;
      width: 96%;
      max-width: calc(598 / 16 * 1rem);
      margin: auto;
      margin-bottom: calc(36 / 16 * 1rem);
      color: #fff;
      opacity: 1;
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: calc(168 / 16 * 1rem) 0;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    margin-top: calc(100 / 16 * 1rem);
    position: relative;
    &:before {
      display: none;
    }
    &:after {
      content: "";
      width: calc(2000 / 16 * 1rem);
      height: calc(1108 / 16 * 1rem);
      background: url("/assets/svgs/cta-squares.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 1;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -3;
      transform: translateX(-50%);
    }
    .container {
      width: 90.0625%;
      margin: auto;
    }

    picture {
      width: 90.0625%;
      left: 50%;
      transform: translateX(-50%);

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.7;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #cta {
      &:after {
        display: none;
      }
    }
  }
}

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #footer {
    font-size: min(4vw, 1.2em);
    padding: calc(84 / 16 * 1rem) 0 calc(20 / 16 * 1rem);
    background: #1c1c1c;

    .left-section {
      text-align: center;
      margin: auto;
      margin-bottom: calc(50 / 16 * 1rem);
      .logo {
        text-align: center;
        width: auto;
        height: calc(32 / 16 * 1em);
        margin: auto;
        margin-bottom: calc(30 / 16 * 1em);
        display: inline-block;

        img {
          width: auto;
          height: 100%;
          display: block;
        }
      }

      p {
        font-size: calc(14 / 16 * 1rem);
        line-height: calc(27 / 14 * 1rem);
        text-align: center;
        width: 100%;
        width: calc(307 / 14 * 1rem);
        margin: auto;
        color: #fff;
        opacity: 0.9;
      }
    }

    .right-section {
      width: 96%;
      max-width: calc(407 / 16 * 1rem);
      margin: auto;
      .lists {
        width: 96%;
        max-width: calc(307 / 16 * 1rem);
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        ul {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;

          &:nth-of-type(3) {
            margin-top: calc(50 / 16 * 1rem);
            li {
              margin-bottom: calc(16 / 16 * 1rem);
              display: flex;
              justify-content: flex-start;
              align-items: center;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }

          li {
            font-size: calc(18 / 16 * 1rem);
            list-style: none;
            margin-bottom: calc(12 / 16 * 1rem);
            color: #fff;
            opacity: 0.9;

            a {
              line-height: calc(21 / 18 * 1em);
              text-decoration: none;
              color: #fff;
              transition: color 0.3s;
              &:hover {
                color: var(--primary);
              }
            }
          }
          h2 {
            font-size: calc(18 / 16 * 1rem);
            font-weight: bold;
            line-height: calc(21 / 18 * 1em);
            text-transform: uppercase;
            margin-bottom: calc(37 / 16 * 1rem);
            color: #fff;
            position: relative;

            &:before {
              content: "";
              width: calc(97 / 16 * 1rem);
              height: calc(2 / 16 * 1rem);
              background: var(--primary);
              opacity: 1;
              display: block;
              position: absolute;
              bottom: calc(-16 / 16 * 1rem);
              left: 0;
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
      }

      .cs-button-solid {
        width: calc(250 / 16 * 1rem);
        height: calc(53 / 16 * 1rem);
        margin: 0;
        padding-top: calc(3 / 16 * 1rem);
      }
    }

    .credit {
      font-size: calc(16 / 16 * 1rem);
      line-height: calc(36 / 16 * 1rem);
      text-align: center;
      width: 96%;
      margin: auto;
      margin-top: calc(100 / 16 * 1rem);
      color: #fff;
      display: flex;
      flex-direction: column;

      a {
        font-size: calc(16 / 16 * 1rem);
        text-decoration: none;
        color: var(--primary);

        &:hover {
          text-decoration: underline;
        }
      }

      .copyright {
        font-size: calc(16 / 16 * 1rem);
        display: block;
      }
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #footer {
    font-size: min(1.2vw, 1em);
    .container {
      width: 96%;
      max-width: calc(1320 / 16 * 1rem);
      margin: auto;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .left-section {
      text-align: left;
      width: calc(409 / 16 * 1rem);
      margin: 0;

      .logo {
        text-align: left;
        height: calc(40 / 16 * 1rem);
        margin-left: 0;
      }

      p {
        text-align: left;
        margin-left: 0;
      }
    }

    .right-section {
      width: calc(609 / 16 * 1rem);
      max-width: none;
      margin: 0;
      .lists {
        width: 96%;
        max-width: calc(769 / 16 * 1rem);
        max-width: initial;
        margin: 0;

        ul {
          &:nth-of-type(3) {
            margin-top: 0;

            li:first-of-type {
              margin-bottom: 0;
            }
          }

          li {
            a {
              position: relative;

              &:before {
                content: "";
                width: 0%;
                height: calc(2 / 16 * 1rem);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: absolute;
                bottom: calc(-3 / 16 * 1rem);
                left: 0;
                transition: width 0.3s;
              }

              &:hover {
                &:before {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .buttons {
        justify-content: flex-start;
      }
    }

    .credit {
      .copyright {
        display: inline-block;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #footer {
      background: #061623;
    }
  }
}

/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title,
    .cs-text {
      max-width: 100%;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      margin: 0 0 calc(32 / 16 * 1rem) 0;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(48 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: calc(8 / 16 * 1rem);
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #content-1450 {
      .cs-title,
      .cs-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        opacity: 0.8;
      }
    }
  }
}
